{% include '@MottaPg/Paginator/components/mass_actions_form.html.twig' %}
<div class="row">
    {% include '@MottaPg/Paginator/components/mass_actions.html.twig' %}
    {% include '@MottaPg/Paginator/components/page_nav.html.twig' %}
    {% include '@MottaPg/Paginator/components/exports.html.twig' %}
    {% include '@MottaPg/Paginator/components/rows_page.html.twig' %}
</div>
