{% include 'MottaPgBundle:Paginator:components/mass_actions_form.html.twig' %}
<div class="row">
    {% include 'MottaPgBundle:Paginator:components/mass_actions.html.twig' %}
    {% include 'MottaPgBundle:Paginator:components/page_nav.html.twig' %}
    {% include 'MottaPgBundle:Paginator:components/exports.html.twig' %}
    {% include 'MottaPgBundle:Paginator:components/rows_page.html.twig' %}
</div>
