{% if app.session.flashbag.has('alert_success') %}
	<div class="row">
	    <div class="alert alert-success alert-dismissible col-md-8 col-md-offset-2" role="alert" style="margin-bottom: 3.1rem;">
	        <a href="#" class="close" data-dismiss="alert" style="position:relative; margin-top: 0.65rem;"><i class="fa fa-times-circle"></i></a>
	        <i class="fa fa-check fa-2x" style="position:relative; top:4px; margin-left:1rem;  padding-right:0.5rem"></i>
	        {% for flashMessage in app.session.flashbag.get('alert_success') %}
	            <strong>{{ flashMessage }}</strong>
	        {% endfor %}
	    </div>
	</div>
{% endif %}
