{% if app.session.flashbag %}
    <div class="row">
        {% include 'MottaPgBundle:Component:flash_success.html.twig' %}
        {% include 'MottaPgBundle:Component:flash_info.html.twig' %}
        {% include 'MottaPgBundle:Component:flash_error.html.twig' %}
        {% include 'MottaPgBundle:Component:flash_warning.html.twig' %}
    </div>
{% endif %}
